$textlight: #f0f4ef;
$backlight: #ede6e3;
$backdark: #303036;
$modalgray: #f2f2f2;
$lightgray: #dddddd;
$textdark: #141e30;
$lightgreen: #02e963;
$overlay: rgba(0, 0, 0, 0.5);
$bluegradient: linear-gradient(to right, #24243e, #302b63, #0f0c29);
$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

@font-face {
  font-family: 'Zekton Rg';
  src: url('../assets/fonts/ZektonRg-Regular.woff2') format('woff2'),
      url('../assets/fonts/ZektonRg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  min-height: 100%;
  background: $backdark;
  background: $bluegradient;
  color: $textlight;
  font-family: 'Zekton Rg';
  overflow: hidden;
}
h1 {
  margin: 0;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #035E7B;
  color: $textlight;
  &:hover {
    background-color: $lightgreen;
    color: $textdark;
  }
  &:disabled {
    background-color: $lightgray;
    color: $textdark;
    cursor: not-allowed;
  }
}
.header {
  display: flex;
  align-items: center;
  margin-left: 40px;
  column-gap: 20px;
  position: sticky;
  z-index: 20;
}

.main {
  padding: 0 10px;
  display: block;
}
.menu {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.3rem;
    height: 2rem;
  }
  &__controls {
    display: flex;
    &__button {
      width: 100%;
    }
  }
}

.garage {
  padding-top: 0.2rem;
  &__header,
  &__subheader {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 18px;
  }
  &__content {
    padding: 10px 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  &__item {
    &__header {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }
    &__content {
      display: flex;
      align-items: center;
      column-gap: 0.2rem;
      border-bottom: 1px dashed $backlight;
      &__controls {
        display: flex;
        column-gap: 0.2rem;
      }
      &__track {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
    &__button {
      width: 20px;
      height: 20px;
    }
    &__car {
      align-self: flex-end;
      width: 100px;
      height: 40px;
      -webkit-mask: url(../assets/img/car.svg);
      mask: url(../assets/img/car.svg);
      -webkit-mask-size: cover;
      mask-size: cover;
      box-shadow: $shadow;
    }
    &__flag {
      margin-right: 110px;
      width: 40px;
      height: 40px;
      background-image: url('../assets/img/flag.png');
      background-size: cover;
    }
  }
}

// MODAL
.locked {
  overflow: hidden;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.modal__overlay {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay;
  z-index: 10;
}
.modal__overlay__modal {
  text-align: center;
  white-space: nowrap;
}
.modal__overlay__modal::after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: '';
}
.modal {
  display: inline-block;
  vertical-align: middle;
}
.modal__container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  white-space: normal;
  background-color: $backlight;
  color: $textdark;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 9px;
}
.modal__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $modalgray;
  &__image {
    width: 480px;
    height: 270px;
  }
  &__img {
    width: 480px;
    min-height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.modal__close {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  width: 18px;
  height: 18px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $textdark;
  background: transparent;
  border: 1px solid $backdark;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.modal__close:hover {
  background: $lightgreen;
  border-color: $backdark;
  color: $textdark;
}

// WINNERS
.winners {
  font-size: 22px;
  padding: 0 1rem;
  background: $backdark;
  background: $bluegradient;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.3rem;
    margin-top: 2rem;
    align-items: center;
  }
  &__car__img {
    margin: 0 auto;
    width: 80px;
    height: 40px;
    -webkit-mask: url(../assets/img/car.svg);
    mask: url(../assets/img/car.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  &__subtitle {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__button {
    padding: 0 15px;
  }
}
.winners__table {
  max-width: 900px;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.winners__table th {
  font-weight: bold;
  padding: 5px;
  border: 1px solid $lightgray;
  cursor: pointer;
  &:hover {
    color: $lightgreen;
  }
}
.winners__table td {
  width: 200px;
  border: 1px solid $lightgray;
  text-align: center;
  padding: 5px;
}

// MEDIA QUERIES
@media (max-width: 767.98px) {
  .winners {
    font-size: 16px;
    &__table {
      width: 95%;
    }
  }
}
