* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
body {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);  
  background: linear-gradient(to right, #414345, #232526); 
  
  color: aliceblue;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #e95500;
  }
}
.header {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.main {
  padding: 0 10px;
}
.menu {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  row-gap: 10px;
  &__block {
    display: flex;
    justify-content: space-between;
    column-gap: 0.3rem;
    height: 2rem;
    &__color {
      height: 100%;
    }
  }
  &__controls {
    display: flex;
    &__button {
      width: 100%;
    }
  }
}

.garage {
  padding-top: 2rem;
  &__content {
    padding: 20px 0;
  }

  &__item {
    &__header {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }
    &__content {
      display: flex;
      align-items: center;
      column-gap: 0.2rem;
    }
    &__button {
      width: 25px;
      height: 25px;
    }
    &__car {
      width: 200px;
      height: 100px;
      -webkit-mask: url(../assets/img/car.svg);
      mask: url(../assets/img/car.svg);
      -webkit-mask-size: cover;
      mask-size: cover;
    }
  }
}
