html,
body {
  height: 100%;
}
.locked {
  overflow: hidden;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.wrapper {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
h2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  display: flex;
  align-items: center;
  margin-bottom: 42px;
  color: #ffffff;
}
h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}
h4 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}
h5 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}
p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  display: flex;
  align-items: center;
}
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: 'Arial';
  src: url('./assets/fonts/ArialMT.woff2') format('woff2'),
    url('./assets/fonts/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arial';
  src: url('./assets/fonts/Arial-ItalicMT.woff2') format('woff2'),
    url('./assets/fonts/Arial-ItalicMT.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Georgia';
  src: url('./assets/fonts/Georgia.woff2') format('woff2'),
    url('./assets/fonts/Georgia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (max-width: 739.98px) {
  h2 {
    font-size: clamp(25px, 7vw, 44px);
  }
  h3 {
    font-size: clamp(25px, 5vw, 35px);
  }
}

/* BURGER */
.burger__icon {
  display: none;
  transition: all 0.5s ease-in-out;
}
.burger__icon-active {
  transform: rotate(90deg);
}

@media (max-width: 767.98px) {
  .header__content {
    padding: 30px 20px 0;
  }
  .header__nav {
    display: none;
  }
  .burger__icon {
    display: block;
    position: absolute;
    top: 49px;
    right: 20px;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 10;
  }
  .burger__icon__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .burger__icon span,
  .burger__icon::after,
  .burger__icon::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f1cdb3;
  }
  .burger__icon-black span,
  .burger__icon-black::after,
  .burger__icon-black::before {
    background-color: #000000;
  }
  .burger__icon::after,
  .burger__icon::before {
    content: '';
  }
  .burger__icon::before {
    top: 0;
  }
  .burger__icon::after {
    bottom: 0;
  }
  .burger__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
}
.burger__background {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #000;
  opacity: 0.3;
  z-index: 1;
}
.burger__background-active {
  display: block;
}

.burger {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100vh;
  background-color: #292929;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}
.burger__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger__menu {
}
.burger__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding-inline-start: 0;
  list-style: none;
}
.burger__list-item {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  color: #cdcdcd;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.active__burger-item {
  color: #fafafa;
  padding-bottom: 3px;
  cursor: default;
}
.burger__list-item:after {
  position: absolute;
  content: '';
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f1cdb3;
  transition: all 0.6s;
}
.active__burger-item:after {
  width: 100%;
}
.burger__list-item:hover::after {
  width: 100%;
}
.burger__list-item:hover {
  color: #fafafa;
}

.burger__active {
  right: 0;
}

/* FOOTER */
.footer {
  background: url(./assets/img/noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}
.footer__content {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  padding: 40px 40px 0;
  display: flex;
  justify-content: space-between;
}
.footer__content h3 {
  color: #ffffff;
  text-align: left;
}
.footer__content h4 {
  text-align: left;
}
.footer__description {
  max-width: 740px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.footer__contacts {
  max-width: 280px;
  margin-right: 160px;
}
.footer__location {
  max-width: 300px;
}
.footer__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.footer__item h4 {
  transition: all 0.3s ease-in-out;
}
.footer__item:hover h4 {
  color: #fafafa;
}
.footer__contacts__item {
  margin: 39px 0;
}
.footer__location__item {
  margin: 32px 0;
}
.footer__item img {
  margin-right: 20px;
}
.footer__text {
  color: #f1cdb3;
}
.footer__img {
  display: flex;
}

@media (max-width: 1199.98px) {
  .footer__description {
    margin-right: 15px;
  }
  .footer__contacts {
    margin-right: 0;
  }
}
@media (max-width: 991.98px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 0;
    max-width: 850px;
  }
  .footer__description {
    max-width: 100%;
    padding: 0 34px;
    margin: 0 0 65px;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
  .footer__img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 739.98px) {
  .footer__content {
    padding: 30px 10px 0;
  }
  .footer__content h3 {
    text-align: center;
  }
  .footer__location h3 {
    text-align: center;
    padding: 0 15px;
  }
  .footer__description {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .footer__contacts,
  .footer__location {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__location {
    display: flex;
    align-items: start;
  }
  .footer__location__item {
    margin: 40px 0;
  }
  .footer__img img {
    min-width: 260px;
    padding: 0 20px;
  }
}

/* BUTTON */
.button {
  display: inline-block;
  align-self: start;
  padding: 15px 45px;
  gap: 10px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  background: #f1cdb3;
  color: #292929;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button:hover {
  background-color: #fddcc4;
}

/* POPUP */

.popup-overlay {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-overlay__modal {
  text-align: center;
  white-space: nowrap;
}

.popup-overlay__modal::after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: '';
}

.popup {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.popup_container {
  margin: 50px;
  width: 900px;
  height: 500px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  color: #000;
}

.popup-close {
  position: absolute;
  top: -1rem;
  right: -0.5rem;
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  background: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.pet {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  color: #000000;
}
.pet h3,
h4,
h5 {
  color: #000000;
}
.pet__img {
  width: 500px;
  height: 500px;
}
.pet__description {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 20px;
}
.title {
  margin-bottom: 10px;
}
.description__text {
  margin: 40px 0;
}
.pet__info {
  display: inline-block;
  padding-inline-start: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.pet__info li::marker {
  color: #F1CDB3;
}