* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(250, 249, 63, 1) 0%,
    rgba(252, 153, 56, 1) 90%
  );
  background-image: radial-gradient(
    circle farthest-corner at 50.7% 54%,
    rgba(204, 254, 152, 1) 0%,
    rgba(229, 253, 190, 1) 92.4%
  );
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(97, 186, 255, 1) 0%,
    rgba(166, 239, 253, 1) 90.1%
  );
}
html {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.locked {
  overflow: hidden;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.content {
  width: 100%;
  height: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.control-panel {
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 20px;
}
.menu-img {
  width: 25px;
  height: 25px;
}
.menu-span {
  font-size: 1.2rem;
  color: #454547;
}
.button {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background: linear-gradient(to right, #50aff8, #91cffe);
}
.button:hover {
  /* background: #2c7ebc; */
}
.board {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(15, 1.5rem);
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}

.disabled {
  /* background: #a5a5a5; */
  background: #f5f5f5;
  color: rgb(88, 88, 88);
}
.disabled:hover {
  /* background: #a5a5a5; */
}

.opened {
  background: #f5f5f5;
  color: rgb(88, 88, 88);
}
.bomb {
  background: #fef29e;
}
.flag-img,
.bomb-img {
  width: 100%;
  height: 100%;
}

/* menu */
.menu * {
  margin: 0;
  padding: 0;
}
.menu ul {
  list-style: none;
}
.menu > ul {
  display: flex;
  justify-content: center;
}
.menu > ul li {
  position: relative;
  border-right: 1px solid #11027c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  padding: 0 15px;
  cursor: pointer;
}
.menu > ul li:last-child {
  border-right: none;
}
.menu > ul li img {
  transition: all 0.4s ease-in-out;
}
.menu > ul li:hover img {
  transform: rotate(360deg);
}
.menu > ul li a {
  display: block;
  color: #454547;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.menu li a:hover {
  color: #df5003;
  transition: all 0.3s ease;
}

/*sub menu*/
.menu li ul {
  position: absolute;
  width: 100%;
  display: none;
  top: 25px;
  left: 0;
}
.menu li > ul li {
  border-right: none;
}
.menu li > ul li {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  text-transform: none;
  background: #fbd83c;
}
.menu li > ul li ul {
  position: absolute;
  right: -150px;
  top: 0;
}
.menu li:hover > ul {
  display: block;
}

/* POPUP */
.popup-overlay {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.popup-overlay__modal {
  text-align: center;
  white-space: nowrap;
}
.popup-overlay__modal::after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: '';
}
.popup {
  display: inline-block;
  vertical-align: middle;
}
.popup_container {
  position: relative;
  /* min-width: 200px;
  min-height: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 66px;
  font-weight: bold;
  color: rgb(255, 0, 0);
  white-space: normal;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(97, 186, 255, 1) 0%,
    rgba(166, 239, 253, 1) 90.1%
  );
  /* color: #000; */
  background: transparent;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 9px;
}
.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #292929;
  background: transparent;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.popup-close:hover {
  color: #50aff8;
}

