/* HEADER */
.header {
  background: url(../../assets/img/noise_lines_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
.header__content {
  max-width: 1260px;
  height: 100%;
  margin: 0 auto;
  padding: 30px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
.header__logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header__logo-title {
  margin: 0 0 10px;
  color: #f1cdb3;
}
.header__logo-subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.header__nav {
  list-style: none;
  display: flex;
}
.header__nav__item {
  position: relative;
  color: #cdcdcd;
  margin-left: 36px;
  cursor: pointer;
  padding-bottom: 3px;
}
.header__nav__item p {
  transition: all 0.2s;
}
.header__nav__item:hover {
  color: #fafafa;
}
.header__nav__item:after {
  position: absolute;
  content: '';
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f1cdb3;
  transition: all 0.6s;
}
.header__nav__item:hover::after {
  width: 100%;
}
.header__nav__item:first-of-type {
  color: #fafafa;
}
.header__nav__item:first-of-type:hover {
  color: #fafafa;
}
.header__nav__item:first-of-type::after {
  margin-left: 0;
  width: 100%;
}
.header__content-bottom {
  display: flex;
}
.header__bottom__description {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin-top: 163px;
  margin-right: 2.6rem;
}
.header__description__title {
  margin-bottom: 42px;
}
.header__description__subtitle {
  margin-bottom: 42px;
  color: #cdcdcd;
}
.header__bottom__img {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.header__bottom__img img {
  width: 100%;
}

@media (max-width: 1199.98px) {
  .header__content-top {
    margin-bottom: 60px;
  }
  .header__nav {
    padding-inline-start: 0;
  }
  .header__content-bottom {
    align-items: center;
  }
  .header__bottom__description {
    margin-top: 0;
  }
}
@media (max-width: 991.98px) {
  .header__content-bottom {
    flex-direction: column;
  }
  .header__bottom__description {
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 65%;
  }
  .header__description__button {
    align-self: center;
  }
  .header__bottom__img {
    margin-left: 140px;
  }
}
@media (max-width: 767.98px) {
  .header__nav {
    display: none;
  }
  .header__content {
    padding: 30px 20px 0;
  }
}
@media (max-width: 575.98px) {
  .header__content {
    padding: 30px 10px 0;
  }
  .header__content-top {
    padding: 0 10px;
  }
  .header__bottom__description {
    align-items: center;
    max-width: 460px;
    margin-bottom: 105px;
  }
  .header__description__subtitle {
    text-align: center;
  }
  .header__description__title {
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
  .header__bottom__img {
    margin-left: 40px;
  }
}

/* CONTENT */
section {
  height: 100%;
  width: 100%;
}
/* ABOUT SECTION */
.about {
  background-color: #ffffff;
}
.about__wrapper {
  display: flex;
  justify-content: center;
  padding: 80px 40px 100px;
}
.about__img {
  max-height: 408px;
  margin-right: 120px;
}
.about__description {
  max-width: 430px;
}
.about__description__title {
  text-align: left;
  margin-bottom: 25px;
  margin-top: 14px;
  margin: 14px 0 25px;
}
.about__description p {
  color: #4c4c4c;
  margin-bottom: 25px;
}
.about__description p:last-child {
  margin-bottom: 0;
}

@media (max-width: 1199.98px) {
  .about__wrapper {
    align-items: center;
    padding: 80px 100px 100px;
  }
  .about__img {
    margin-right: 2rem;
  }
}
@media (max-width: 768.98px) {
  .about__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 80px 165px 100px;
  }
  .about__description {
    margin-bottom: 80px;
  }
  .about__description__title {
    margin: 0 0 25px;
  }
  .about__img {
    display: flex;
    margin: 0 auto;
  }
  .about__img img {
    align-self: end;
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .about__wrapper {
    padding: 80px 50px 0;
  }
  .about__description {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .about__description__title {
    align-self: center;
    text-align: center;
  }
  .about__description p {
    text-align: justify;
  }
  .about__img {
    margin: 40px 0 42px;
  }
}
@media (max-width: 575.98px) {
  .about__wrapper {
    padding: 42px 10px 0;
  }
  .about__description {
    padding: 0 15px;
    margin: 0;
  }
  .about__description__title {
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
  }
  .about__description p {
    margin-bottom: 22px;
    color: #4c4c4c;
  }
  .about__img {
    padding: 0 20px;
  }
}

/* SLIDER SECTION */
.slider {
  background-color: #f6f6f6;
}
.slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px 100px;
}
.slider__content {
  /* width: 100%; */
  max-width: 1200px;
  margin: 58px 0 60px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.slider__arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 18px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.slider__arrow:hover {
  background: #fddcc4;
  border-color: #fddcc4;
  cursor: pointer;
}
.slider__inner {
  flex-grow: 1;
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.slider__cards {
  position: relative;
  flex-grow: 1;
  /* max-width: 99999px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: -1080px;
}
.slider__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.slider__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 270px;
  height: 435px;
  background: #fafafa;
  border-radius: 9px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  margin: 0 45px;
}
.slider__card-img {
  max-height: 270px;
  overflow: hidden;
}
.slider__card-name {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin: 30px 0;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}
.slider__card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.slider__card:hover .slider__card-button {
  background: #fddcc4;
  border-color: #fddcc4;
  cursor: pointer;
}
.slider__card-img img {
  transition: all 0.8s ease-in-out;
}
.slider__card:hover .slider__card-img img {
  transform: scale(1.1);
}
.slider__card-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  white-space: nowrap;
  width: 187px;
  height: 52px;
  padding: 15px 45px;
  gap: 10px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}
.slider__card-button:hover {
  background: #fddcc4;
  border-color: #fddcc4;
  cursor: pointer;
}

@media (max-width: 1278.98px) {
  .slider__content {
    width: 100%;
  }
  .slider__cards {
    margin: 0;
    padding: 0 12px;
  }
  .slider__card {
    margin: 0 10px;
    max-width: 100%;
  }
  .slider__card-img img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
}
@media (max-width: 1099.98px) {
  .slider__wrapper {
    padding: 80px 30px 100px;
  }
  .slider__content {
    padding: 0;
  }
  .slider__cards {
    justify-content: space-around;
  }
}
@media (max-width: 991.98px) {
  .slider__card {
    margin: 0;
  }
}
@media (max-width: 771.98px) {
  .slider__cards {
    justify-content: space-between;
  }
}
@media (max-width: 767.98px) {
  .slider__content {
    padding: 0 50px;
  }
  .slider__cards {
    justify-content: center;
  }
}
@media (max-width: 575.98px) {
  .slider__wrapper {
    padding: 42px 15px;
  }
  .slider__title h3 {
    font-size: 25px;
  }
  .slider__content {
    padding: 41px 0;
    margin: 0;
  }
}
@media (max-width: 455.98px) {
  .slider__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .slider__cards {
    order: 0;
  }
  .slider__card {
    margin-bottom: 20px;
  }
  .slider__arrow:first-child {
    order: 2;

    margin-right: 80px;
  }
  .slider__arrow:last-child {
    order: 3;
    margin-right: 0;
  }
}


/* slider animation */
@keyframes move-left {
  from {left: -1080px;}
  to {left: 0px;}
}
@keyframes move-right {
  from {left: -1080px;}
  to {left: -2160px;}
}

.transition-right {
  animation-name: move-right;
  animation-duration: 2s;
}
.transition-left {
  animation-name: move-left;
  animation-duration: 2s;
}

/* OPTIONS SECTION */
.options {
  background-color: #ffffff;
}
.options__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px 100px;
}
.options__title {
  margin-bottom: 59px;
}
.options__content {
  width: 100%;
  max-width: 1200px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 55px;
  column-gap: 120px;
}
.options__content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.options__content-item img {
  margin-bottom: 30px;
}
.options__content-item h4 {
  white-space: nowrap;
}
.options__content-item:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media (max-width: 1171.98px) {
  .options__content {
    column-gap: 60px;
  }
  .options__content-item {
    width: 170px;
  }
}

@media (max-width: 767.98px) {
  .options__wrapper {
    padding: 41px 15px;
  }
  .options__title {
    margin-bottom: 42px;
  }
  .options__content-item h4 {
    font-size: clamp(15px, 3vw, 20px);
  }
  .options__content-item {
    width: clamp(130px, 25%, 170px);
  }
  .options__content-item img {
    width: clamp(50px, 25%, 60px);
  }
}
@media (max-width: 575.98px) {
  .options__content {
    gap: 30px;
  }
  .options__content-item:last-child {
    align-self: start;
  }
  .options__content-item img {
    margin-bottom: 20px;
  }
}
@media (max-width: 335.98px) {
  .options__content {
    justify-content: start;
  }
}
@media (max-width: 319.98px) {
  .options__content {
    justify-content: center;
  }
}
/* DONATION */
.donation {
  background-color: #f6f6f6;
}
.donation__wrapper {
  display: flex;
  justify-content: center;
  padding: 80px 0 100px;
}
.donation__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 915px;
}
.donation__content-img img {
  max-width: 505px;
}
.donation__content-img {
  margin-right: 30px;
}
.donation__content-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.donation__title {
  margin: 0;
}
.donation__subtitle {
  margin: 20px 0;
}
.donation__title h3 {
  text-align: left;
}
.donation__card {
  padding: 10px 15px;
  background: #f1cdb3;
  border-radius: 9px;
  max-width: 350px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.donation__card h4 {
  white-space: nowrap;
}
.donation__card:hover {
  color: #292929;
  background: #fddcc4;
  cursor: pointer;
}
.donation__card-content {
  display: flex;
}
.donation__card-content img {
  margin-right: 15px;
}
.donation__text {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  display: flex;
  align-items: center;
  /* color-dark-m */
  color: #b2b2b2;
}
@media (max-width: 1279.98px) {
  .donation__content {
    margin: 0 131px;
  }
}
@media (max-width: 991.98px) {
  .donation__content {
    flex-direction: column-reverse;
  }
  .donation__content-description {
    width: 380px;
    width: 90%;
    align-items: center;
    margin-bottom: 60px;
  }
  .donation__text {
    text-align: center;
  }
  .donation__content-img,
  .donation__content-img img {
    width: 100%;
  }
  .donation__content-img {
    display: flex;
    margin: 0;
  }
  .donation__content-img img {
    margin: 0 auto;
  }
}
@media (max-width: 799.98px) {
  .donation__content-description {
    align-items: start;
    max-width: 380px;
  }
  .donation__text {
    text-align: start;
  }
}
@media (max-width: 767.98px) {
  .donation__content {
    margin: 0 50px;
  }
}
@media (max-width: 575.98px) {
  .donation__wrapper {
    padding: 41px 0 42px;
  }
  .donation__content {
    margin: 0 10px;
  }

  .donation__content-img {
    padding: 0 20px;
    width: 100%;
    min-width: 260px;
  }
  .donation__text {
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    color: #b2b2b2;
  }
}
@media (max-width: 475.98px) {
  .donation__content-description {
    align-items: center;
    min-width: 300px;
    margin-bottom: 42px;
  }
  .donation__card-content h4 {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
  }
  .donation__title h3 {
    text-align: center;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
  }
  .donation__subtitle h5 {
    width: 100%;
    letter-spacing: 0;
    margin: 0;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
  }
  .donation__text {
    padding: 0 10px;
  }
}

/* inactive nav */
.header__nav__item-inactive {
  position: relative;
  color: #cdcdcd;
  margin-left: 36px;
  padding-bottom: 3px;
  cursor: default;
}
.header__nav__item-inactive:after {
  position: absolute;
  content: '';
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f1cdb3;
  transition: all 0.6s;
}
.header__nav__item-inactive:first-of-type::after {
  margin-left: 0;
  width: 100%;
}

/* OPTIONS COPY */
/* .options {
  background-color: #ffffff;
}
.options__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px 45px;
}
.options__title {
  margin-bottom: 59px;
}
.options__content {
  width: 100%;
  max-width: 1200px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.options__content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 60px;
  margin-bottom: 55px;
  transition: all 0.2s ease-in-out;
}
.options__content-item img {
  margin-bottom: 30px;
}
.options__content-item h4 {
  white-space: nowrap;
}
.options__content-item:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media (max-width: 1278.98px) {
  .options__wrapper {
    padding: 80px 69px 45px;
  }
  .options__content {
    justify-content: space-between;
  }
  .options__content-item {
    width: 15%;
    padding: 0;
    margin: 0 30px 55px;
  }
}
@media (max-width: 789.98px) {
  .options__content-item {
    width: 170px;
    margin: 0 0 55px;
  }
}
@media (max-width: 697.98px) {
  .options__wrapper {
    padding: 42px 15px;
  }
  .options__content-item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 545.98px) {
  .options__title {
    margin-bottom: 0;
  }
  .options__title h3 {
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 42px;
  }
  .options__content {
    justify-content: space-between;
  }
  .options__content-item {
    width: 130px;
    margin-bottom: 30px;
  }
  .options__content-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  .options__content-item h4 {
    font-size: 15px;
    line-height: 110%;
  }
}
@media (max-width: 419.98px) {
  .options__content {
    padding: 0 25px;
  }
}
@media (max-width: 360.98px) {
  .options__content {
    padding: 0;
  }
}
@media (max-width: 289.98px) {
  .options__content {
    justify-content: center;
  }
} */
