$back: #303036;
$text: #f0f4ef;
* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    min-height: 100%;
    background: linear-gradient(to right, #141e30, #243b55);
}
body {
    background-color: $back;
    color: $text;
}
h1 {
    margin: 0;
}
.main {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    &__header {
        padding: 10px;
        background: linear-gradient(to right, #606c88, #3f4c6b);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}
.board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.sidebar {
    min-height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    &__wrapper {
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.levels {
    align-self: center;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    &__content {
        display: grid;
        grid-template-columns: repeat(4, auto);
        padding: 20px 0;
        gap: 15px;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    &__button {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: none;
        cursor: pointer;
        &__active {
            background-color: #fb4f36;
        }
        &:hover {
            background-color: #1883db;
        }
    }
}
.menu {
    &__nav {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }
    &__button {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}
.editor {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    height: 100%;
    &__wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 800px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background: linear-gradient(to right, #ff416c, #ff4b2b);
    }
    &__header {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        background-color: #ede6e3;
        color: #141e30;
    }
    &__content {
        width: 100%;
        padding-top: 5px;
        color: #141e30;
        resize: none;
        outline: none;
    }

    &__content-css,
    &__content-html {
        display: flex;
    }
    &__numbers {
        margin: 0;
        padding: 5px;
        line-height: 1.2;
        list-style: none;
        width: 1.5rem;
        background-color: #072c2f;
        li {
            text-align: center;
        }
    }
    &__input__content {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin: 5px;
        max-height: 16px;
        width: 100%;
    }
    &__button {
        width: 100%;
        height: 20px;
        max-width: 80px;
        border-radius: 5px;
        background-color: #0be3ef;
    }
    &__input {
        width: 100%;
        outline: none;
    }
    &__css {
        width: 50%;
    }
    &__html {
        width: 50%;
    }
    &__block,
    &__line {
        cursor: pointer;

        &:hover {
            background-color: #1197ab;
        }
    }
}

cup {
    position: relative;
    width: 170px;
    height: 170px;
    background-image: url('../assets/img/cup1.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
    &:hover {
        transform: scale(1.2);
    }
}

star {
    background-image: url('../assets/img/star1.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: -20px;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    z-index: 5;
    transition: all 0.5s ease;
    &:hover {
        transform: rotate(75deg);
    }
}
