$backdark: #303036;
$backlight: #ede6e3;
$backlighttransparent: rgba(237, 230, 227, 0.3);
$textdark: #141e30;
$textlight: #f0f4ef;
$harddark: #072c2f;
$pink: #ff416c;
$blue: #1883db;
$purple: #d218a7;
$lightblue: #3099ee;
$green: #0afb89;
$lightgreen: #02e963;
$darkgreen: #07ba19;
$darkgradient: linear-gradient(to right, #141e30, #243b55);
$pinkgradient: linear-gradient(to right, #ff416c, #ff4b2b);
$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

@font-face {
    font-family: 'Zekton Rg';
    src: url('../assets/fonts/ZektonRg-Regular.woff2') format('woff2'),
        url('../assets/fonts/ZektonRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    min-height: 100%;
}
body {
    font-family: 'Zekton Rg';
    color: $textlight;
    background: $darkgradient;
}
h1 {
    margin: 0;
    letter-spacing: 0.5rem;
    white-space: nowrap;
}
.logo {
    width: 40px;
    height: 40px;
}
.rslogo {
    width: 70px;
}
.header__links {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    h2 {
        margin: 0;
    }
}
.main {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: $pinkgradient;
        box-shadow: $shadow;
    }
}
.board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.sidebar {
    min-height: 100%;
    box-shadow: $shadow;
    &__wrapper {
        height: 100%;
        padding: 0.65rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.menu {
    h1,
    h3 {
        letter-spacing: 0.2rem;
    }
    h3 {
        margin: 1rem 0;
    }
    &__nav {
        display: flex;
        align-items: center;
        column-gap: 0.8rem;
    }
    &__button {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: none;
        transition: all 0.2s ease-in-out;
        background-color: $pink;
        &:hover {
            background: $blue;
        }
    }
    &__content {
        text-align: justify;
        line-height: 1.4;
    }
}
.levels {
    align-self: center;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    .help__button {
        color: $textlight;
        background-color: $purple;
    }
    .reset__button {
        color: $textlight;
        background: $pink;
    }
    .help__button,
    .reset__button {
        transition: all 0.2s ease;
        &:hover {
            background-color: $blue;
        }
    }
    &__header {
        margin: 0;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(4, auto);
        padding: 20px 0;
        gap: 15px;
        justify-content: center;
        box-shadow: $shadow;
    }
    &__button {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        &__active {
            background: $pinkgradient;
        }
        &:hover {
            background-color: $blue;
        }
        &__help {
            background-color: $purple;
        }
        &__self {
            background-color: $lightgreen;
        }
    }
}

.editor {
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
    font-weight: bold;
    &__wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: $shadow;
        background: $pinkgradient;
    }
    &__header {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        font-size: 22px;
        letter-spacing: 0.3rem;
        color: $textdark;
        background-color: $backlight;
    }
    &__content {
        width: 100%;
        padding-top: 5px;
        letter-spacing: 0.2rem;
        resize: none;
        outline: none;
    }
    &__content tea,
    coffee {
        margin-left: 20px;
        &:hover {
            color: $textdark;
        }
    }
    &__content cup,
    papercup,
    redcup {
        cursor: pointer;
        &:hover {
            color: $textdark;
        }
    }
    &__content-css,
    &__content-html {
        display: flex;
        font-size: 18px;
        line-height: 1.3;
    }
    &__numbers {
        margin: 0;
        padding: 5px 5px 5px;
        list-style: none;
        width: 2.5rem;
        background-color: $harddark;
        font-weight: normal;
        li {
            text-align: center;
        }
    }
    &__input__content {
        position: relative;
        margin-top: 0.4rem;
        align-self: start;
        display: flex;
        align-items: center;
        justify-content: end;
        column-gap: 10px;
        width: 100%;
    }
    &__input,
    &__input-color {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 65%;
        min-height: 24px;
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    &__input {
        opacity: 0;
        z-index: 2;
    }
    &__input-color {
        color: rgb(134, 134, 134);
        font-weight: bold;
        letter-spacing: 2px;
        background-color: white;
        z-index: 1;
    }
    &__button {
        margin-right: 10px;
        background-color: $green;
        &:hover {
            background-color: $lightgreen;
        }
    }
    &__css {
        width: 50%;
    }
    &__html {
        width: 50%;
    }
    &__line {
        padding-left: 0.5rem;
    }
    .span {
        &-green {
            color: $darkgreen;
        }
        &-blue {
            color: $blue;
        }
        &-purple {
            color: $purple;
        }
    }
}

.cup {
    position: relative;
    width: 170px;
    height: 170px;
    background-image: url('../assets/img/cup1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s ease;
    &:hover {
        transform: scale(1.2);
    }
}
.papercup {
    width: 140px;
    background-image: url('../assets/img/paper-cup1.png');
}
.redcup {
    background-image: url('../assets/img/red-cup.png');
}
.tea,
.coffee {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    z-index: 15;
    transition: all 0.5s ease;
    &:hover {
        transform: scale(1.1);
    }
}
.tea {
    background-image: url('../assets/img/tea.png');
    left: -20px;
}
.coffee {
    background-image: url('../assets/img/coffee.png');
    left: -7px;
}
button {
    height: 23px;
    padding: 0 10px;
    border-radius: 5px;
    color: $textdark;
    cursor: pointer;
    border: none;
    box-shadow: $shadow;
}
papercup.active-line,
redcup.active-line,
cup.active-line {
    background-color: $backlight;
    color: $textdark;
}
tea.active-line,
coffee.active-line {
    background-color: $green;
    color: $textdark;
}
.active-element {
    transform: scale(1.2);
}
.win__message {
    white-space: wrap;
    text-align: center;
    padding: 0 20px;
}
// TOOLTIPS
.tooltip {
    position: absolute;
    left: -70px;
    top: -20px;
    font-size: 14px;
    white-space: nowrap;
    background: $purple;
    color: $textlight;
    padding: 0.3rem;
    pointer-events: none;
    z-index: 20;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: -70px;
    top: -20px;
    font-size: 14px;
    white-space: nowrap;
    background: $purple;
    color: $textdark;
    padding: 0.3rem;
    pointer-events: none;
    opacity: 0;
    z-index: 20;
}
[data-tooltip]:hover::after {
    opacity: 1;
}

/* BURGER */
.burger__icon {
    display: none;
    transition: all 0.5s ease-in-out;
}
.burger__icon-active {
    transform: rotate(90deg);
}

@media (max-width: 991.98px) {
    .header__content {
        padding: 30px 20px 0;
    }
    .header__nav {
        display: none;
    }
    .burger__icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 22px;
        cursor: pointer;
        z-index: 26;
    }
    .burger__icon__wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .burger__icon span,
    .burger__icon::after,
    .burger__icon::before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $backdark;
    }
    .burger__icon::after,
    .burger__icon::before {
        content: '';
    }
    .burger__icon::before {
        top: 0;
    }
    .burger__icon::after {
        bottom: 0;
    }
    .burger__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
}

//   Media queries
@media (max-width: 1199.98px) {
    .sidebar h1,
    h3 {
        letter-spacing: normal;
    }
    .sidebar h1 {
        font-size: 25px;
    }
    .sidebar h3 {
        font-size: 16px;
    }
    .editor__input,
    .editor__input-color {
        min-width: 60%;
        font-size: 12px;
        display: flex;
        align-items: center;
    }
}
@media (max-width: 991.98px) {
    .logo {
        margin-right: 50px;
    }
    .sidebar {
        position: fixed;
        top: 0;
        right: -320px;
        width: 320px;
        height: 100vh;
        background-color: $backlight;
        color: $textdark;
        transition: all 0.5s ease-in-out;
        z-index: 25;
        &__active {
            right: 0;
        }
    }
    .main {
        display: grid;
        grid-template-columns: 100% 0;
        height: 100%;
    }
}
@media (max-width: 687.98px) {
    .content__header h1 {
        font-size: 20px;
    }
    .editor {
        margin: 0 10px 10px;
    }
    .editor__button {
        font-size: 10px;
    }
    .editor__content,
    .editor__numbers {
        font-size: 12px;
    }
    .cup {
        width: 110px;
    }
    .papercup {
        width: 90px;
    }
    .tea,
    .coffee {
        width: 40px;
        height: 40px;
    }
    .cup,
    .papercup,
    .redcup,
    .tea,
    .coffee {
        &:hover {
            transform: scale(1.05);
        }
    }
    .tooltip {
        font-size: 12px;
    }
    .editor__button {
        display: none;
    }
    .editor__input,
    .editor__input-color {
        margin: 0;
        min-width: 100%;
        font-size: 10px;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 575.98px) {
    .content__header h1,
    h2 {
        font-size: 16px;
        letter-spacing: 5px;
    }
}
